@media screen and (min-width: 1158px){
    .container{
       max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .logo-header{
        margin-right: 76px;
    }
    .mailtel {
        flex-direction: row;
        gap: 40px;  
    }
    .contacts {
        font-size: 16px;
        line-height: calc(24 / 16);       
}
.main-section {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-desk1x.jpg);
    padding: 188px 0;
}
.main-h{
    margin-bottom: 48px;
}
.section{
    padding: 120px 0;
}
.secondary-list {
    gap: 24px;
}
.sprite-icons{
    display: flex;
}
.sec-item {
    flex-basis: calc((100% - 72px) / 4);
}
.list-header {
    font-size: 20px;
    line-height: calc(24 / 20);
    font-weight: 500;
}
.secondary-text {
    font-weight: 400;
}
.third-section {
    display: block;
    padding-bottom: 120px;
}
.fourth-section {
    flex-wrap: nowrap;
    display: flex;
    padding-left: 156;
    padding-right: 156;
}
.testing {
    flex-basis: calc((100% - 72px) / 4);
}
.customers-item{
    flex-basis: calc((100% - 120px) / 7);
}
.section-footer-text {
    margin-left: 0;
    margin-right: 0;
}
.
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1158px),
 screen and (min-resolution: 192dpi) and (min-width: 1158px),
 screen and (min-resolution: 2dppx) and (min-width: 1158px) {
 .main-section {
  background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
   url(../images/hero-desk2x.jpg);
 }
}